################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Portal/.vs
/Portal/Portal.Application/bin/Debug/netcoreapp2.0
/Portal/Portal.Application/obj
/Portal/Portal.Core/bin/Debug/netcoreapp2.0
/Portal/Portal.Core/obj
/Portal/Portal.Infrastructure/bin/Debug/netcoreapp2.0
/Portal/Portal.Infrastructure/obj
/Portal/Portal.Web/bin/Debug/netcoreapp2.0
/Portal/Portal.Web/obj/Debug/netcoreapp2.0
/Portal/Portal.Web/obj
/Portal/Portal.Web/wwwroot/pratt/assets/css/.DS_Store
/Portal/Portal.Web/wwwroot/pratt/assets/img/.DS_Store
/Portal/Portal.Web/wwwroot/pratt/assets/img/mobile.png
/Portal/Portal.Web/wwwroot/pratt/assets/img/item-02.png
/Portal/Portal.Web/wwwroot/pratt/assets/img/item-01.png
/Portal/Portal.Web/wwwroot/pratt/assets/img/intro03.png
/Portal/Portal.Web/wwwroot/pratt/assets/img/intro02.png
/Portal/Portal.Web/wwwroot/pratt/assets/img/intro01.png
/Portal/Portal.Web/wwwroot/pratt/assets/img/arrow2.png
/Portal/Portal.Web/wwwroot/pratt/assets/img/arrow1.png
/Portal/Portal.Web/wwwroot/pratt/assets/img/app-bg.png
/Portal/Portal.Web/wwwroot/pratt/assets/js/.DS_Store
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/css/._.DS_Store
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._mobile.png
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._item-02.png
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._item-01.png
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._intro03.png
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._intro02.png
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._intro01.png
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._arrow2.png
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._arrow1.png
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._app-bg.png
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/img/._.DS_Store
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/js/._.DS_Store
/Portal/Portal.Web/wwwroot/pratt/__MACOSX/assets/._.DS_Store
